<!--
    <div style="margin-bottom:-0.5em;">
    <span style="float: right; direction: rtl;padding-top:0.5em;">
        <div class="ui mini button btn" style="background-color : #1c1f32; color : white;" id="_stockwatch" onclick="show_table(this.id)">تابلو</div>
        <div class="ui mini button" style="background-color : #1c1f32; color : white;" id="_ratio" onclick="show_table(this.id)">نسبت‌ها</div>
        <div class="ui mini button" style="background-color : #1c1f32; color : white;" id="_balanceSheet" onclick="show_table(this.id)">ترازنامه</div>
        <div class="ui mini button" style="background-color : #1c1f32; color : white;" id="_income" onclick="show_table(this.id)">سود/زیان</div>
        <div class="ui mini button" style="background-color : #1c1f32; color : white;" title="اعضا ویژه">VIP</div>
    </span>
    <span>
        <ul style="display:flex;margin-left:0.34em;margin-top:-0.5em;">
                <li class="other-btns"></li>
        </ul>
    </span>
    </div>
-->
<div id="table_stockwatch">
    <div class="divTableRow main-nav" style="background-color: #1c1f32">
        <div class="divTableCell">نماد</div>
        <div class="divTableCell">نام</div>
        <div onclick="sortTable(2,'stockwatch')" class="divTableCell">تعداد</div>
        <div onclick="sortTable(3,'stockwatch')" class="divTableCell">حجم</div>
        <div onclick="sortTable(4,'stockwatch')" class="divTableCell">ارزش</div>
        <div onclick="sortTable(5,'stockwatch')" class="divTableCell">دیروز</div>
        <div onclick="sortTable(6,'stockwatch')" class="divTableCell">اولین</div>
        <div onclick="sortTable(7,'stockwatch')" class="divTableCell">Eps</div>
        <div onclick="sortTable(8,'stockwatch')" class="divTableCell">P/E</div>
        <div onclick="sortTable(9,'stockwatch')" class="divTableCell">آخرین معامله</div>
        <div onclick="sortTable(10,'stockwatch')" class="divTableCell">درصد آخرین معامله</div>
        <div onclick="sortTable(11,'stockwatch')" class="divTableCell">تغییر آخرین معامله</div>
        <div onclick="sortTable(12,'stockwatch')" class="divTableCell">قیمت پایانی</div>
        <div onclick="sortTable(13,'stockwatch')" class="divTableCell">تغییر قیمت پایانی</div>
        <div onclick="sortTable(14,'stockwatch')" class="divTableCell">درصد تغییر قیمت پایانی</div>
        <div onclick="sortTable(15,'stockwatch')" class="divTableCell">کمترین</div>
        <div onclick="sortTable(16,'stockwatch')" class="divTableCell">بیشترین</div>
    </div>
    {% for stock in stocks %}
        <div class="divTableRow" style="background:{% cycle '#4d5068' '#1c1f32' %}">
            <div class="divTableCell"><a
                    href="/stockwatch/{{ stock.stockWatch.SymbolId }}">{{ stock.stockWatch.InstrumentName }}</a>
            </div>
            <div class="divTableCell">{{ stock.stockWatch.InstrumentTitle }}</div>
            <div class="divTableCell">{{ stock.stockWatch.TotalNumberOfTrades }}</div>
            <div class="divTableCell">{{ stock.stockWatch.TotalNumberOfSharesTraded }}</div>
            <div class="divTableCell">{{ stock.stockWatch.TotalTradeValue }}</div>
            <div class="divTableCell">{{ stock.stockWatch.PreviousDayPrice }}</div>
            <div class="divTableCell">{{ stock.stockWatch.FirstTradePrice }}</div>
            <div class="divTableCell" dir="ltr">{{ stock.stockWatch.Eps }}</div>
            <div class="divTableCell" dir="ltr">{{ stock.stockWatch.PricePerEarning }}</div>
            <div class="divTableCell">{{ stock.stockWatch.LastTradePrice }}</div>
            <div class="divTableCell" dir="ltr">{{ stock.stockWatch.ReferencePriceVariationPercent }}</div>
            <div class="divTableCell" dir="ltr">{{ stock.stockWatch.ReferencePriceVariation }}</div>
            {#            {% if stock.stockWatch.ReferencePriceVariation == 0 %}#}
            {#                <div class="divTableCell" dir="ltr">{{ stock.stockWatch.ReferencePriceVariationPercent }}</div>#}
            {#                <div class="divTableCell" dir="ltr">{{ stock.stockWatch.ReferencePriceVariation }}</div>#}
            {#            {% elif stock.stockWatch.ReferencePriceVariation > 0 %}#}
            {#                <div class="divTableCell" dir="ltr" style="background:green">{{ stock.stockWatch.ReferencePriceVariationPercent }}</div>#}
            {#                <div class="divTableCell" dir="ltr" style="background:green">{{ stock.stockWatch.ReferencePriceVariation }}</div>#}
            {#            {% elif stock.stockWatch.ReferencePriceVariation < 0 %}#}
            {#                <div class="divTableCell" dir="ltr" style="background:red">{{ stock.stockWatch.ReferencePriceVariationPercent }}</div>#}
            {#                <div class="divTableCell" dir="ltr" style="background:red">{{ stock.stockWatch.ReferencePriceVariation }}</div>#}
            {#            {% endif %}#}
            <div class="divTableCell">{{ stock.stockWatch.ClosingPrice }}</div>
            <div class="divTableCell" dir="ltr">{{ stock.stockWatch.ClosingPriceVariation }}</div>
            <div class="divTableCell" dir="ltr">{{ stock.stockWatch.ClosingPriceVariationPercent }}</div>
            <div class="divTableCell">{{ stock.stockWatch.LowestTradePrice }}</div>
            <div class="divTableCell">{{ stock.stockWatch.HighestTradePrice }}</div>
        </div>
    {% endfor %}
</div>


<!--
<div id="table_ratio" style="display: none">
    <div class="divTableRow main-nav" style="background-color: #1c1f32">
        <div class="divTableCell">نماد</div>
        <div class="divTableCell">نام</div>
        <div onclick="sortTable(2,'ratio')" class="divTableCell">تعداد</div>
    </div>
    {% for stock in stocks %}
        <div class="divTableRow" style="background:{% cycle '#4d5068' '#1c1f32' %}">
            <div class="divTableCell"><a
                    href="/stockwatch/{{ stock.stockWatch.SymbolId }}">{{ stock.stockWatch.InstrumentName }}</a>
            </div>
            <div class="divTableCell">{{ stock.stockWatch.InstrumentTitle }}</div>
            <div class="divTableCell">{{ stock.ratio.da }}</div>
        </div>
    {% endfor %}
</div>


<div id="table_income" style="display: none">
    <div class="divTableRow main-nav" style="background-color: #1c1f32">
        <div class="divTableCell">نماد</div>
        <div class="divTableCell">نام</div>
        <div onclick="sortTable(2,'ratio')" class="divTableCell">تعداد</div>
    </div>
    {% for stock in stocks %}
        <div class="divTableRow" style="background:{% cycle '#4d5068' '#1c1f32' %}">
            <div class="divTableCell"><a
                    href="/stockwatch/{{ stock.stockWatch.SymbolId }}">{{ stock.stockWatch.InstrumentName }}</a>
            </div>
            <div class="divTableCell">{{ stock.stockWatch.InstrumentTitle }}</div>
            <div class="divTableCell">{{ stock.ratio.da }}</div>
        </div>
    {% endfor %}
</div>


<div id="table_balanceSheet" style="display: none">
    <div class="divTableRow main-nav" style="background-color: #1c1f32">
        <div class="divTableCell">نماد</div>
        <div class="divTableCell">نام</div>
        <div onclick="sortTable(2,'ratio')" class="divTableCell">تعداد</div>
    </div>
    {% for stock in stocks %}
        <div class="divTableRow" style="background:{% cycle '#4d5068' '#1c1f32' %}">
            <div class="divTableCell"><a
                    href="/stockwatch/{{ stock.stockWatch.SymbolId }}">{{ stock.stockWatch.InstrumentName }}</a>
            </div>
            <div class="divTableCell">{{ stock.stockWatch.InstrumentTitle }}</div>
            <div class="divTableCell">{{ stock.ratio.da }}</div>
        </div>
    {% endfor %}
</div>

-->

<div class="pagination" style="margin-left:42%;direction:ltr;">
    <span class="step-links">
        {% if stocks.has_previous %}
            <a style="cursor: pointer" onclick="read_filters({{ stocks.previous_page_number }})"><i
                    class="angle double left icon"></i></a>
        {% endif %}
        {% if stocks.number != 2 and stocks.number != 1 %}
            <a onclick="read_filters(1)">
                <div class="ui icon buttons">
                    <button class="ui icon button">1</button>
                </div>
            </a>

        {% endif %}
        {% if stocks.number >= 3 %}
            <div class="ui icon buttons">
                    <button class="ui icon button">...</button>
                </div>
        {% endif %}
        {% if stocks.has_previous %}
            <a onclick="read_filters({{ stocks.previous_page_number }})"><button
                    class="ui icon button">{{ stocks.previous_page_number }}</button></a>
        {% endif %}
        <span class="current">
            <div class="ui icon buttons">
                <button class="ui icon button" style="background: #4d5068">{{ stocks.number }}</button>
            </div>


        </span>
        {% if stocks.has_next %}
            <a onclick="read_filters({{ stocks.next_page_number }})"><button
                    class="ui icon button">{{ stocks.next_page_number }}</button></a>
        {% endif %}
        {% if stocks.number <= former2 %}
            <div class="ui icon buttons">
                    <button class="ui icon button">...</button>
                </div>
        {% endif %}
        {% if stocks.number != former and stocks.number != last %}
            <a onclick="read_filters({{ stocks.page_range | length }})"><button
                    class="ui icon button">{{ stocks.paginator.num_pages }}</button></a>
        {% endif %}
        {% if stocks.has_next %}
            <a style="cursor: pointer" onclick="read_filters({{ stocks.next_page_number }})"><i
                    class="angle double right icon"></i></a>
        {% endif %}
    </span>
</div>
<!-- صفحه {{ stocks.number }} از {{ stocks.paginator.num_pages }} -->