<div class="divTableCell">{{ account.TotalAsset }}</div>
<div class="divTableCell">{{ account.TotalAsset }}</div>
<div class="divTableCell">{{ account.TotalAsset }}</div>
<div class="divTableCell">{{ account.TotalAsset }}</div>
<div class="divTableCell">{{ account.TotalAsset }}</div>
<div class="divTableCell">{{ account.TotalAsset }}</div>
<!--
{'WithdrawableMoneyRemain': 2089426.0, 'BlokedValue': 0.0, 'WithdrawableBlockedMoney': 0.0, 'CreditMoney': 0.0, 'CreditBlockedMoney': 0.0, 'TotalAsset': 2619560.0, 'NonWithdrawableMoneyRemain': 0.0, 'CreditMoneyRemain': 0.0, 'PercentageProfit': 26.0, 'Profit': 109384.0, 'BuyingPower': 2089426.0, 'NonWithdrawableBlockedMoney': 0.0}
-->