<div id="table">
    <div class="divTableRow main-nav" style="background: #1c1f32">
        <div class="divTableCell">سفارش</div>
        <div class="divTableCell">قیمت</div>
        <div class="divTableCell">حجم</div>
        <div class="divTableCell">روز</div>
        <div class="divTableCell">سود/ضرر</div>
    </div>
    {% for h in history %}
        <div class="divTableRow" style="background:{% cycle '#4d5068' '#1c1f32' %}">
            <div class="divTableCell">{{ h.action }}</div>
            <div class="divTableCell">{{ h.price }}</div>
            <div class="divTableCell">{{ h.vol }}</div>
            <div class="divTableCell">{{ h.day }}</div>
            <div class="divTableCell">{{ h.profit }}</div>
        </div>
    {% endfor %}
</div>
<script>
    var dates = {{ dates }},
            chart = $('#container').highcharts();
    function drawlines(){
        dates.forEach(function (day) {

        })
    }
</script>