#master__wrapper {
    padding-top: 1.6vh;
    
}
@media only screen and (max-width:768px) {
    .height_fix_mobile{
        height:73vh;
    }
}
@media only screen and (min-width:1100px) {
    .margin_for_xl_size{
        margin: 0px 6% 0px 0px !important;
    }
}
.row-1 {
    margin-top: 1vh;
    width: 100%;
}

.row-2 {
    width: 100%;
}

.col-xl-6 {
    padding: 0 1vh 0 0;
}

.col-xl-12 {
    padding: 0 2vh 0 0vh;
}

.xyz {
    background: #22263d;
    border: 1px solid #323651;
    border-right-color: #00ca9d;
    border-radius: 3px;
    text-align: right;
    color: #d1d1d1;
    display: inline-block;
    margin-bottom: 1vh;
    /*margin-right: 1vh;*/
}

.boxes {
    height: 15vh;
    width: 100%
}

#sell-buy-count, #chart {
    margin-right: 3vh;
}

#sell-buy-count .divTableHead {
    padding-bottom: 1.8vh;
}


#last-sell {
    height: 12vh;
}

#epsbox {
    height: 12vh;
}

#queue {
    margin-right: 0;
}
.sell__btn {
    float: left;
    padding: 0.4rem 1.3rem;
    border: none;
    background: #e74c3c;
    border-radius: 4px;
/*    margin-left: 1rem; */
    margin-top: 0.75rem;
    cursor: pointer;
    font-family: IRANSans;
    color: #fff;
}



.buy__btn {
/*    float: left; */
    padding: 0.4rem 1.3rem;
    background: #09cac8;
    border: none;
    border-radius: 4px;
    margin-left: 0.5rem;
    margin-top: 0.75rem;
    cursor: pointer;
    font-family: IRANSans;
    color: #fff;
    }

#CompanyName {
    display: inline-block;
    color:white;
    font-size: 1.5rem;
    margin-top: 0.9rem;
    margin-right:2rem;
    float: right;
}

/*
#InstrumentName {
    display: inline;
    color:white;
    font-size: 1rem;
    margin-top: 1.2rem;
    float: right;
    padding-right:0.1rem;
}
*/



/***************************************************************/


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
    font-family: IRANSans;
}

.modal-content {
    position: relative;
    background-color: #f6f7f9;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 4px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    direction: rtl;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #cccfd1;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: 1%;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: #797a7c;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    }

.modal-header {
    padding: 2px 16px;
    background-color: #f6f7f9;
    color: #f6f7f9;
    border-bottom: 1px solid #eaecef;
    height:5%;
}

.modal-body{
    direction:rtl;
}

.modal-body select,
.modal-body input,
.modal-body button {
    height: 6%;
    width: 12rem;
    border-radius: 4px;
    border: none;
    font-family: IRANSans;
    border: 1px solid #ddd;
    display: inline-block;
    margin: 1rem;
}

.modal-body select{
    background: white;
}

#input_buy{
    color: #fff;
    background: #09cac8;
    transition: background-color 0.3s ease;
}

#input_buy:hover{
    cursor: pointer;
    color: #fff;
    background: #0dadab;
    transition: background-color 0.3s ease;
}
#input_sell{
    color: #fff;
    background: #e05567;
    transition: background-color 0.3s ease;
}

#input_sell:hover{
    cursor: pointer;
    color: #fff;
    background: #d64659;
    transition: background-color 0.3s ease;
}



#sellModal button{
    color: #fff;
    background: #e05567;
    transition: background-color 0.3s ease;
}

#sellModal button:hover{
    color: #fff;
    background: #d64659;
    transition: background-color 0.3s ease;
}

.modal-body h1{
    font: 1.3rem IRANSans;
    color: #333;
    display:block;
    position: absolute;
    right: 1rem;
    margin: 1rem 1rem;
}


.modal-body label {
    color: #111;
    display:block;
    margin: 0 -9rem -1rem 0;
}

.modal-body .group{
    display: inline-block;
    direction: rtl;
}
#nav-bar2 {
    display: block;
    position: relative;
    max-width: 91vw;
    height: 8vh;
    background: #1c1f32;
    margin: 0 auto;
    z-index: 5;
    border-radius: 2px;
}

#home-btn {
    background-position:50% 30%;
    height: 7vh ;
}

.paramsInput {
    font-family: IRANSans;
    background-color: #1c1f32;
    color: white;
    text-align: center;



    width: 12rem;
    height: 1.5rem;
    background-color: #4d5068;
    border-radius: 0.2rem;
    border: 1px solid #5c5f77;
    margin: 0.3rem 0;
}


select {
    font-family: IRANSans;
    color: white;
    direction: rtl;
    width: 12rem;
    height: 2rem;
    background-color: #4d5068;
    border-radius: 0.2rem;
    border: 1px solid #5c5f77;
    margin: 0.3rem 0;
}

