<html>
<body>
<div style="direction: rtl">
    کاربرگرامی
    <br>
    باسلام
    <br>
    ضمن تشکر بابت استفاده از خدمات سایت
    <br>
    https://treasurypto.com
    <br>
    از این پس شما می‌توانید از خدمات سایت در آدرس جدید
    <br>
    <a href="https://ramzservat.com">https://ramzservat.com</a>
    <br>
    و به نام رمزثروت استفاده کنید.
    <br>
    نام کاربری و پسورد شما همان اطلاعات قبلی می‌باشد
    <br>
    <h4>فیچرهای جدید سایت:</h4>
    <ul>
        <li>
            امکان ساخت بیش از یک استراتژی
        </li>
        <li>
            امکان ساخت واچ‌لیست‌های شخصی

        </li>
        <li>
            اضافه کردن نمودار حرفه‌ای تریدینگ ویو به صفحه ترید بایننس

        </li>
        <li>
            امکان پرداخت تتر و خرید اشتراک

        </li>
    </ul>
    ممنون از همراهی شما
    <br>
    رمزثروت
</div>
</body>
</html>

